.editWindow {
  width: 60%;
  background: grey;

  h3 {
    color: white;
    text-align: center;
    margin: 5% 0 3%;
  }
}

.editWindow-form {
  padding: 5% 0%;

  .ant-row {
    display: flex;
    justify-content: space-evenly;
  }

  .ant-input {
  }
}
