// Add colors to events

.type__project-task,
.type__js-task,
.type__test,
.type__crosscheck,
.type__review,
.type__broadcast-live,
.type__self-education,
.type__meetup,
.type__interview,
.type__presentation,
.type__other,
.type__codewars {
  box-shadow: 3px 0px 10px 5px #4534348a inset;
}

.type__project-task {
  background-color: #8bc34a63;
}
  
.type__js-task {
  background-color: #00000070;
}

.type__test {
  background-color: #0000ff26;
}

.type__crosscheck {
  background-color: #00800057;
}

.type__review {
  background-color: #ff980070;
}

.type__broadcast-live {
  background-color: #00968863;
}

.type__self-education {
  background-color: #ff572269;
}

.type__meetup {
  background-color: #127d1285;
}

.type__interview {
  background-color: #0926797a;
}

.type__presentation {
  background-color: #0d606b9a;
}

.type__other {
  background-color: #ecec5487;
}

.type__codewars {
  background-color: #03a9f42b;
}

.type__deadline {
  box-shadow: 3px 0px 6px 5px #ff000070 inset;
}

.type__inactive {
  background-color: #afafaf24;
  opacity: 0.4;
}