.ant-modal-root {
  // font-size: 2rem;
  .ant-modal {
    width: 80% !important;
    @media (max-width: 576px) {
      width: 98% !important;
    }
  }

  h2.ant-typography {
    text-align: center;
    font-size: 3.6rem;
    color: #002577;
    @media (max-width: 1200px) {
      font-size: 3.2rem;
    }
    @media (max-width: 992px) {
      font-size: 2.8rem;
    }
    @media (max-width: 576px) {
      font-size: 2rem;
    }
    @media (max-width: 576px) {
      font-size: 1.7rem;
    }
  }

  .event-icon {
    margin-right: 1rem;
  }
  .ant-modal-title {
    text-align: center;
    font-size: 2rem;
    color: #091f33;
    @media (max-width: 992px) {
      font-size: 1.8rem;
    }
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
    @media (max-width: 576px) {
      font-size: 1.4rem;
    }
  }

  .edit-icon{
    margin-left: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
    color: #00000073;
    transition: all 0.3s ease;
  }

  .edit-icon:hover{
    color: inherit;
  }

  .modal-font {
    font-size: 1.2rem;
    // @media (max-width: 992px) {
    //   font-size: 1.3rem;
    // }
    // @media (max-width: 768px) {
    //   font-size: 1.2rem;
    // }
    @media (max-width: 576px) {
      font-size: 1rem;
    }
  }

  .icon {
    margin-right: 0.5rem;
  }
  .start-icon {
    color: green;
  }
  .usual-icon {
    color: blue;
  }
  .deadline-icon {
    color: red;
  }
  .feedback-title-wrapper {
    display: flex;
    align-items: baseline;
  }

  .feedback-title {
    margin-right: 0.5rem;
  }

  .feedback-false {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
  }

  // .site-badge-online.ant-badge-count{
  // background-color: #ffe7e3 !important;

  // box-shadow: 0 0 0 1px #d9d9d9;
  // }

  // .ant-modal-body{
  //   overflow-x: hidden;
  //   overflow-y: auto;
  // }
}
