.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  font-size: 2rem;
  background-color: #fff;
}

.header img {
  margin: 20px 0 0 20px;
  height: 40px;
}

.title {
  padding-top: 20px;
}

.logIn {
  margin: 20px 20px 0 0;
}