.table-header {
  display: flex;
}

.table-header__icon {
  padding: 0.5rem;
  transition: all 0.8s;
}

.none-visibility {
  display: none !important;
}

.table-block a {
  color:black ;
  text-decoration: underline;
  transition: all 0.5s;
}

.table-block p {
  margin: 0;
}

.table-block th {
  font-weight: bold !important;
  text-align: center !important;
  transition: all 0.5s !important;
}

.table-block tr td {
  transition: all 0.5s !important;
}

@media (hover:hover) {
  .table-header__icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.8s;
  }

  .table-block tr:hover td {
    background: unset !important;
    transition: all 0.5s !important;
    cursor: default;
  }

  .table-block tr:hover {
    transition: all 0.5s !important;
    box-shadow: 0 0 0 0 white inset;
  }

  .table-block a:hover {
    color: rgba(255, 0, 0, 0.959);
    transition: all 0.5s;
  }
}
