.table-header {
  display: flex;
}

.table-header__icon {
  padding: 0.5rem;
  transition: all 0.8s;
}

/* .ant-table-row-selected {
  display: none;
}
 */

.none-visibility {
  display: none !important;
}

tr td {
  transition: all 0.5s !important;
}

@media (hover:hover) {
  .table-header__icon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.8s;
  }

  tr:hover td {
    background: unset !important;
    opacity: 0.7;
    transition: all 0.5s !important;
    cursor: default;
  }
}


// Add colors to events

.type__project-task {
  background-color: #ff000066;
}
  
.type__js-task {
  background-color: #00000070;
}

.type__test {
  background-color: #0000ff71;
}

.type__crosscheck {
  background-color: #0080006e;
}

.type__review {
  background-color: #ff980070;
}

.type__broadcast-live {
  background-color: #00968882;
}

.type__self-education {
  background-color: #ff57229e;
}

.type__meetup {
  background-color: #127d1285;
}

.type__interview {
  background-color: #0926797a;
}

.type__presentation {
  background-color: #0d606b9a;
}

.type__other {
  background-color: #ecec5487;
}